@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
$Pacifico: 'Pacifico', cursive;
$open: 'Open Sans', sans-serif;
$primary: #54ABC3;
// $primary: #c35454;
$dark: #398499;
// $dark: #993939;
$light: #5d5d5d;
$accent: #f4f4f4;

// Universal

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $open;
}

h1, h2, h3 {
  font-family: $Pacifico;
}

// Splash Screen

.welcome {
    background-image: url('../img/cmdeveloped.png');
    background-color: $primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60vh;
    width: 100%;
    height: 96vh;
    p {
      text-align: center;
      color: #fff;
      position: relative;
      top: 80vh;
      margin: auto;
      .learnMore {
        text-decoration: none;
        color: #fff;
        padding: 15px 35px;
        border-bottom: 3px solid #fff;
        opacity: .7;
      }
      .learnMore:hover {
        opacity: 1;
      }
  }
}

.learnMore {
  cursor: pointer;
}
// Info Section

.info {
  text-align: center;
  background: $accent;
  #languages {
    margin: 60px 0 20px 0;
    i {
      font-size: 60px;
      padding: 10px;
      line-height: 1.2;
      color: $dark;
    }
  }
  .row {
    margin: 20px 0 60px 0;
    h1 {
      font-family: $open;
      letter-spacing: -1px;
      font-size: 30px;
      color: #212121;
      opacity: .7;
    }
    h2 {
      color: $light;
    }
    .col-md-4 {
      margin: 15px 0;
      p {
        margin: 35px 0;
        font-weight: bold;
        color: $light;
      }
      a {
        color: $light;
        text-decoration: none;
        opacity: .7;
      }
      a:hover {
        color: $light;
        opacity: 1;
        padding: 10px 25px;
        border-bottom: 2px solid $primary;
      }
    }
  }
}

// Info Extended Sections

.concept {
  background: $primary;
  text-align: center;
  color: #fff;
  .row {
    margin: 40px 0 60px 0;
    h1 {
      font-size: 42px;
      margin: 30px 0;
    }
    h2 {
      font-family: $open;
      font-size: 30px;
      letter-spacing: -1px;
      color: $accent;
    }
    h6 {
      color: $light;
    }
    p {
      margin: 35px 0;
      color: $accent;
    }
  }
}

.create {
  background: $accent;
  text-align: center;
  .row {
    margin: 40px 0 75px 0;
    h1 {
      color: $primary;
      font-size: 42px;
      margin: 30px 0;
    }
    h2 {
      font-family: $open;
      letter-spacing: -1px;
      color: #212121;
      opacity: .7;
      margin-top: 40px;
    }
    h3 {
      font-family: $open;
      letter-spacing: -1px;
      color: #212121;
      opacity: .7;
      margin-bottom: 40px;
    }
    ul {
      margin: 25px 0;
      li {
        list-style-type: none;
        margin: 5px 0;
        font-weight: bold;
        color: $light;
      }
    }
    .dropdown {
      color: $light;
      text-decoration: none;
      opacity: .7;
      padding: 10px 25px;
      margin: auto;
      border-bottom: 2px solid $light;
      width: 160px;
    }
    .dropdown:hover {
      cursor: pointer;
      color: $light;
      opacity: 1;
      padding: 10px 25px;
      border-bottom: 2px solid $primary;
    }
    .findOut {
      display: none;
    }
    p {
      margin: 35px 0;
      font-weight: bold;
      color: $light;
    }
  }
}

.confidence {
  background: $primary;
  text-align: center;
  color: #fff;
  .row {
    margin: 40px 0 60px 0;
    h1 {
      font-size: 42px;
      margin: 30px 0;
    }
    h2 {
      font-family: $open;
      font-size: 30px;
      letter-spacing: -1px;
      color: $accent;
      margin-top: 24px;
    }
    p {
      margin: 35px 0;
      color: $accent;
    }
  }
}

.mobiConfidence {
  display: none;
  background: $primary;
  text-align: center;
  color: #fff;
  .row {
    margin: 40px 0 60px 0;
    h1 {
      font-size: 42px;
      margin: 40px 0;
    }
    h2 {
      font-family: $open;
      font-size: 30px;
      letter-spacing: -1px;
      color: $accent;
      margin-top: 24px;
    }
    p {
      margin: 35px 0;
      color: $accent;
    }
  }
}

// Footer

footer {
  background: $dark;
  position: relative;
  bottom: 0;
  color: #fff;
  #legal {
    p {
      margin: 10px 0;
      text-align: right;
    }
  }
  #address {
    p {
      margin: 10px 0;
      text-align: left;
    }
  }
}

// Good Fit Contact

.goodFit {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  .prompt {
    border-radius: 10px;
    background: #fff;
    margin: 30vh auto;
    padding: 10vh 0;
    text-align: center;
    height: 40vh;
    width: 50%;
    h1 {
      margin-top: 0;
      font-family: $open;
      letter-spacing: -1px;
      color: $primary;
    }
    p {
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin-top: 40px;
      li {
        display: inline-block;
        width: 100px;
        padding: 10px 0;
        border: 2px solid #e2e2e2;
        color: #7b7b7b;
        margin: 0 10px;
      }
      li:hover {
        color: $primary;
        border: 2px solid $primary;
        cursor: pointer;
      }
    }
  }
}

// Arrow Down Styles

.arrow-down {
    width: 0;
    height: 0;
    margin-top: -3px !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.primary {
  border-top: 20px solid $primary;
}

.accent {
  border-top: 20px solid $accent;
}

.right {
  margin-left: 82%;
}

.left {
  margin-left: 15%;
}

.center {
  margin: auto;
}

// Universal

.hidden {
  display: none;
}

.display {
  display: block;
}

// Media queries

@media screen and (max-width: 991px) {

  .confidence {
    display: none;
  }

  .mobiConfidence {
    display: block;
  }

  .languages {
    margin: 15px 0;
  }

  .info {
    a {
      display: none;
    }
    #concept-info {
      margin-top: 35px;
    }
  }

  .arrow-down {
    margin: -2px auto !important;
  }

  footer {
    padding: 10px 0;
    .col-md-4 {
      p {
        text-align: center !important;
      }
    }
    #address {
      p {
        margin-bottom: 2px;
      }
    }
    #legal {
      p {
        margin-top: 2px;
      }
    }
  }
}

@media screen and (max-width: 643px) {

  .info {
    #languages {
      i {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 340px) {

  .create {
    #findOut {
      width: 55%;
    }
  }
}
